.navbar-brand {
    font-size: 20px;
    color: whitesmoke;
}

.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke !important;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

a {
    color: navy;
    font-weight: bold;
}

/*hide the navigation labels when screen is small*/

.nav-label{
    display: none;
}

.fa {
    padding: 10px;
    font-size: 400%;
    size: 4.0rem;
}

p, h3, h4, h1.navbar-brand{
    font-size: 2.0rem;
}

.card-deck {
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-light {
    background-color: darkred !important;
}

.card-header {
    color: whitesmoke;
    /* box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

header {
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    color: navy;
}

#myChart, #myChart2 {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 20px;
    display: block;
}

img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}


h3, h2 {
    position: inherit;
}

h2 {
    color: whitesmoke;
}

h4 {
    font-weight: lighter;
}

footer {
    background-color: darkred;
    color: whitesmoke;
    padding: 20px;
    margin: 0%;
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background-color: aliceblue;
}


.vac {
    color: dimgrey;
}

.fa-stethoscope {
    color: whitesmoke;
}

.flu-shot-loc {
    color: black;
    font-weight: 500;
}

.list-of-places {
    font-size: medium;
 }


.list-of-places {
    border-image-width: inherit;
}


table {
    border-collapse: collapse;
    border: 4px lightblue;
    font: 12px sans-serif;
    width: 100%
    }

td {
    border: 1px black solid;
    padding: 5px;
                }

#map { 
    height: 400px;
    width: 600px;
    padding-bottom: 20%;
 }

#list-Locations {
    align-content: center;
}
table tr:first-child {
    font-weight: bold;
    color: black;
}

section{
    padding-bottom:20% ;
}

#mapped-cases {
    display: none;
}

li.breadcrumb-item, li.contact {
    display: hidden;
}

/*for styling header*/
.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0%;
    margin-right: 0%;
}

/*for styling estimate page*/
.btn {
    color: #fff;
    background-color: navy;
    border-color: slategray;
    border-width: 3px;
}

.btn, .hguess {
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    display: inline;
}

form {
    background-color: aliceblue;
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

.description {
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 10px;
}

/*vaccine page specific styling*/
#flu-shot-location-words {
    color: navy;
    width: fit-content;
    position: relative;
}



.btn, input {
    height: 2.rem;
    width: 2.rem;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    margin-left: 40%;
}

@media (min-width: 598px) {
    p, h4, .link-icon{
        font-size: 1.0rem;
    }

    h1.navbar-brand {
        font-size: 2.0rem;
    }



    card .fa{
        display: inline;
    }

    #mapped-cases {
        display: block;
    }

    .nav-label{
        display: inline;
        color: navy;
    }

    footer .nav-label {
        color: whitesmoke;
    }

}
section {
    padding-bottom: 20%;
}
